@page
@model CollegeManagement.Pages_Sessions.IndexModel
<p>

    <a asp-page="/Sessions/Create" class="btn btn-success"><i class="bi bi-plus-lg"></i>Add Session</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].Title)
            </th>
            <th>
                Course
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].Details)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].Start)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Session[0].DurationInHours)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Session) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @(item.Course?.Name ?? "N/A")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Details)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationInHours)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-warning"><i class="bi bi-pen"></i>Edit</a> 
                <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-success"><i class="bi bi-ticket-detailed"></i>Details</a> 
                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger"><i class="bi bi-trash"></i>Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

